In [7]:
import pandas as pd
import numpy as np

# Series 
A pandas.Series having an **index** is the main difference between a panda.Series and a NumPy array. see the difference:

In [8]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr))
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[ 0.40874307 -0.57608423 -0.09010387 -2.16742529]

<class 'pandas.core.series.Series'>
0    0.408743
1   -0.576084
2   -0.090104
3   -2.167425
dtype: float64

# Creating a pandas.Series
The basic method to create a pandas.Series is to call

In [9]:
# A series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

# Check-in
The integer number -999 is often used to represent missing values. Create a pandas.Series named s with four integer values, two of which are -999. The index of this series should be the the letters A through D.

In [10]:
s = pd.Series([12, -999, 15, -999], index=["A","B","C","D"])
s

A     12
B   -999
C     15
D   -999
dtype: int64

In [12]:
s = s.mask(s == -999)
s

A    12.0
B     NaN
C    15.0
D     NaN
dtype: float64

We can access the data frameâ€™s column names via the columns attribute. Update the column names to C1 and C2 by updating this attribute.

In [13]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }
d

# Create data frame
df = pd.DataFrame(d)
df

# Change index
df.index = ['a','b','c']
df

# Change column names
df = df.rename(columns={'col_name_1': 'C1', 'col_name_2': 'C2'})
df

   C1   C2
a   0  3.1
b   1  3.2
c   2  3.3

In [15]:
# another way to change column names
df.columns = ['C1', 'C2']