# Subsetting 

Review core methods to select data from a `pandas.Dataframe`

## Read in CSV

To read in a CSV file into our PYthon workspace as a `panda.DataFrame` we use the `pandas.read_csv` function:

In [1]:
import pandas as pd

# Read in file, argument is the file path as a string
df = pd.read_csv('data/wetlands_seasonal_bird_diversity.csv')

# Print df's first five rows
df.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

Birds were surveyed in four wetlands: 

- Cap Salt Marsh (CSM)
- Mugu lagoon (MUL)
- San Dieguito Wetland (SDW)
- Tijuana Estuary (TJE)

Values from second column to the last column = number of different bird species recoreded across the surbery sites in each wetland during spring ,winter, and fall for a given year

year column = year on which data was collected